main {
    background-color: #000;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#result {
    height: 600px;
    width: 600px;
}

.cell {
    /* height: 100px;
    width: 100px; */
    color: white;
    font-size: 24px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.safe {
    background-color: green;
}

.bomb {
    background-color: red;
}

h2 {
    color: lightblue;
}